<html>
    <head>
        <title>Todo list</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css"/>

    </head>
    <body>
        <h1>hello</h1>
        <div class="todo-table">
            <form>
          <input type="text" name="item" placeholder="Add new item..." required/>
                <button type="submit">Add Item</button>
          
              </form>
            <ul>
                
                <%todos.forEach(item=> { %>
                    <li><%=item.item%> </li> 
                <%})%>

            </ul>
        </div>
    </body>
</html>